<!DOCTYPE HTML>
<html>
<head>
    <title>Real Time Table Data Test</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.12.3.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io-1.4.5.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
    <style>
        .greenBg { background: #BCE954; }
        .redBg { background: #F75D59; }
    </style>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('my response', function(msg){
                
                

                $('#log').html(msg.data);    
                $('tr').each(function(){
                    var td = $(this).find('td');
                    $(td).each(function(){
                        if ($(this).html() >= 50){
                            $(this).addClass('greenBg');
                        } else {
                            $(this).addClass('redBg');
                        }
                         
                    });
                });
            });  
            
            socket.on('my response 2', function(msg){
                $('#log2').html(msg.data);
            });
            socket.on('my response 3', function(msg){
                //alert(msg.data['data']);
                //draw the graph                
                d = new Date();
                if ($('#img').length == 0){
                    $('#imgDiv').html('<img id="img" src="">');
                }

                $('#img').attr("src", "{{ url_for('static', filename='simple.png')}}?"+d.getTime());
                jsonObj = $.parseJSON(msg.data);
                //$('#log3').html(jsonObj.data);
                drawTable(jsonObj);
            });

            socket.on('connect', function(){
                socket.emit('my event', {data: 'I\'m connected!'});    
            });

            $('form#broadcast').submit(function(event){
                socket.emit('my broadcast event', {data: $('#broadcast_data').val()});    
                return false;
            });

            $('form#connect').submit(function(event){
                location.reload();
                return false;
            });

            $('form#disconnect').submit(function(event){
                socket.emit('disconnect request');
                return false;
            });
        });

        function drawTable(data) {
            $('#log3').html('<table id="jsonTable" class="table table-bordered table-hover"></table>');
            drawHeader(data.columns, "index");
            $.each(data.data, function (k,v) {
                drawRow(v, data.index[k]);
            });
        }

        function drawHeader(headerData, indexName) {
            var row = $('<thead class="thead-inverse" />');
            $("#jsonTable").append(row);
            row.append($("<th>" + indexName + "</th>"));
            $.each(headerData, function (k,v) {
                row.append($("<th>" + v + "</th>"));
            });            

        }

        function drawRow(rowData, ix) {
            var row = $("<tr />");
            $("#jsonTable").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
            row.append($("<td>" + ix + "</td>"));      
            $.each(rowData, function (k,v) {
                var td = $("<td>" + v + "</td>");
                if (v >= 50){
                    td.addClass('greenBg');
                } else {
                    td.addClass('redBg');
                }
                row.append(td);
            });            
        }
    </script>
</head>
<body>
    <h1>Real Time Table Data</h1>
    <h2>Broadcast message</h2>
    <form id="broadcast" method="POST" action="#">
        <input type="text" name="broadcast_data" id="broadcast_data" palceholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <form id="connect" method="POST" action="#">
        <input type="submit" value="Connect">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <br />
    <div id="log2"></div>
    <br />
    <div id="log3" class='container'></div>
    <br />
    <div id="log" class='container'></div>
    <br />
    <div id='imgDiv' class='container'>
    </div>
</body>
</html>
